<div  cdkDragRootElement=".cdk-overlay-pane">
  <div>
    <h2 mat-dialog-title style="font-family: 'Times New Roman'; font-weight: bold; color: white;" [ngStyle]="{
        'background-color': data.Type === 'Error' ? '#d62828' :
                           data.Type === 'Save' ? 'green' :
                           data.Type === 'Information' ? '#0466c8' :
                           data.Type === 'Warning!!!' ? '#ffc300' : '#fcca46'
      }">
      {{ data.Type }}
    </h2>
  </div>

  <mat-dialog-content (mousedown)="checkTextSelectionStart($event)" (mouseup)="checkTextSelectionEnd($event)"
    style="cursor: text;">
    <p style="user-select: text;" [innerHTML]="ErrorMsg"></p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button *ngIf="data.Type === 'Save' || data.Type === 'Warning!!!'" mat-raised-button
      style="background-color: green; color: white;" (click)="Yes()">Yes</button>
    <button *ngIf="data.Type === 'Save' || data.Type === 'Warning!!!'" mat-raised-button color="warn"
      (click)="No()">No</button>
    <button *ngIf="data.Type !== 'Save' && data.Type !== 'Warning!!!'" mat-raised-button color="primary"
      [mat-dialog-close]="Status" cdkFocusInitial>OK</button>
  </mat-dialog-actions>
</div>
