.example-spacer {
  flex: 1%;
}

.navbar {
  height: 4rem;
  padding: 7px 5px 5px 8px;
  background-color: white;
  color: rgb(7, 7, 7);
  position: sticky;
  z-index: 99999;
}

.button {
  color: white;
}

.profile-img {
  width: 40px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: fill;
  display: block;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

label {
  margin-left: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif
}
