<div id="home" class="home">
  <mat-toolbar class="navbar mat-elevation-z5">
    <div class="profile-upload">
      <input type="file" id="fileInput" accept="image/*" (change)="onFileSelected($event)" hidden />
      <img [src]="profileImage || '/assets/default-profile.jpg'" alt="Profile Image" class="profile-pic"
        (click)="triggerFileInput()" />
      <p *ngIf="fileError" class="error-message">{{ fileError }}</p>
    </div>
    <label>PRASANTH</label>
    <span class="example-spacer"></span>
    <div class="nav-icons d-none d-md-flex">
      <button mat-button (click)="scrollToSection('home')"><mat-icon>home</mat-icon> Home</button>
      <button mat-button (click)="scrollToSection('about')"><mat-icon>person</mat-icon> About</button>
      <button mat-button (click)="scrollToSection('contact')"><mat-icon> call</mat-icon>Contact</button>
    </div>
  </mat-toolbar>
  <div class="fluid">
    <mat-card>
      <div class="socailmedia mat-elevation-z8">
        <a href="https://github.com/prasanth052" target="_blank" class="mt-4">
          <button mat-icon-button matTooltip="Github" matTooltipPosition="right">
            <i class="fab fa-github github"></i>
          </button>
        </a>
        <a href="mailto:kprasanth286@gmail.com" target="_blank">
          <button mat-icon-button matTooltip="Mail" matTooltipPosition="right">
            <i class="fas fa-envelope"></i>
          </button>
        </a>
        <button mat-icon-button matTooltip="Twitter" matTooltipPosition="right">
          <i class="fab fa-twitter"></i>
        </button>
        <button mat-icon-button matTooltip="Instagram" matTooltipPosition="right">
          <i class="fab fa-instagram"></i>
        </button>
        <a href="https://www.linkedin.com/in/prasanth-k-a457311ba/" target="_blank" class="mb-4">
          <button mat-icon-button matTooltip="Linkedin" matTooltipPosition="right">
            <i class="fab fa-linkedin"></i>
          </button>
        </a>
      </div>
      <mat-card-content>
        <div style="text-align: center">
          <div class="hero-section text-center">
            <h1 class="hero-title">HEY, I'M PRASANTH KUPPUSAMY
              <p class="hero-subtitle">
                A Result-Oriented Web Developer building and managing Websites and Web Applications that leads to the
                success of the
                overall product
              </p>
            </h1>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div id="about">

  <app-about></app-about>
</div>
<div id="project">
  <app-project></app-project>
</div>
<div id="contact">
  <app-contact></app-contact>
</div>
<app-chat></app-chat>
<router-outlet></router-outlet>
