.home {
  background: url("/assets/dash2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  min-height: 50rem;
  width: 100%;
  background-attachment: fixed;
}

.example-spacer {
  flex: 1%;
}

.navbar {
  height: 4rem;
  padding: 7px 5px 5px 8px;
  background-color: white;
  color: rgb(7, 7, 7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000 !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 40px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: fill;
  display: block;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

label {
  margin-left: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif
}

//---------------------------------- Profile
.profile-upload {
  position: relative;
  display: inline-block;
  text-align: center;
}

.upload-icon {
  font-size: 25px;
  margin-top: 2%;
  margin-left: 12%;
  cursor: pointer;
  // color: #ff9800;
  transition: transform 0.2s;
  // margin: 10px;
}

.upload-icon:hover {
  transform: scale(1.1);
}

.profile-pic {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // object-fit: cover;
  object-fit: cover;
  // border: 2px solid #ff9800;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

// --------------------------------Dashboard-------------------------------------------


mat-card {
  background: transparent !important;
  box-shadow: none !important;
  /* Removes the default shadow */
}

.hero-section {
  margin-top: -30%;
  background-size: cover;
  padding: 70px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.hero-title {
  padding-top: 5%;
  font-size: 3.2rem;
  letter-spacing: 7px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(244, 137, 137, 0.282);
  color: #ffffff;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-subtitle {
  letter-spacing: 2px;
  font-size: large;
  color: #ffffff;
  max-width: 80%;
  margin-top: 2%;
  margin-left: 12%;
  font-weight: 600;
  padding: -20px;
  margin-bottom: -1%;
  line-height: 2rem;
}

.socailmedia {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 12% 0 0 10px;
  text-align: center;
  width: 5%;
  background-color: white;
}

.button {
  margin-top: -10%;
  letter-spacing: 5px;
  border-radius: 0%;
  height: fit-content;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 20px 80px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.socailmedia a:nth-child(1) button:hover {
  background-color: #333;
  color: white;
}


.socailmedia a:nth-child(2) button:hover {
  background-color: #d62976;
  color: white;
}


.socailmedia button:nth-child(3):hover {
  background-color: #333;
  color: white;
}


.socailmedia button:nth-child(4):hover {
  background-color: #E1306C;
  color: white;
}

.socailmedia a:nth-child(5) button:hover {
  background-color: #0077b5;
  color: white;
}
.socailmedia a:nth-child(6) button:hover {
  background-color: #FF0000;
  color: white;
}
.card {
  letter-spacing: 5px;
  background-color: rgb(221, 218, 218);
  background-color: rgba(230, 225, 225, 0.282);
  // border: 3px solid #f1f1f1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 30px 0px 30px 30px;
  padding-bottom: 2%;

}

.loader {

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  height: 40px;
  display: flex;

}


p {
  color: rgb(12, 11, 11);
  font-weight: bolder;
  font-size: 3rem;
}

.hero {
  height: 100vh;
  display: flex;
  text-align: center;
}

h1 {
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(12, 12, 12);
  position: absolute;
  top: 70%;
  left: 2.5%;
  z-index: 2;
  margin-top: -2%;
  font-family:Arial, Helvetica, sans-serif;
}

.typed-text {
  color: #084ea8;
  font-weight: bold;
}

.cursor {
  color: #ff5722;
  font-size: 3rem;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
