<mat-toolbar class="navbar mat-elevation-z5">
  <img src="assets/Prasanth.jpg" loading="lazy" class="profile-img mat-elevation-z20" />
  <label>PRASANTH</label>
  <span class="example-spacer"></span>
  <div class="nav-icons d-none d-md-flex">
    <button mat-button class="button" routerLink="/about"><mat-icon>home</mat-icon> Home</button>
      <button mat-button class="button" routerLink="/about"><mat-icon>person</mat-icon>  About</button>
      <button mat-button class="button"><mat-icon> call</mat-icon>Contact</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
