mat-card {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position:center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  padding: 1%
}

.hero-section {
  margin-top: -30%;
  background-size: cover;
  padding: 70px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.hero-title {
  font-size: 3.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 7px;
  color: black;
}

.hero-subtitle {
  font-size: large;
  color: #444;
  max-width: 700px;
  margin: 0 auto;
  font-weight: 600;
}

.socailmedia {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 12% 0 0 10px;
  text-align: center;
  width: 5%;
  background-color: white;
}

.button {
  letter-spacing: 5px;
  border-radius: 0%;
  height: fit-content;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 20px 80px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
