<div class="fluid h-auto h-100">
<mat-card >
  <div class="socailmedia mat-elevation-z8">

    <a href="https://github.com/prasanth052" target="_blank" class="mt-4">
      <button mat-icon-button matTooltip="Github" matTooltipPosition="right">
        <i class="fab fa-github"></i>
      </button>
    </a>

    <a href="mailto:kprasanth286@gmail.com" target="_blank">
      <button mat-icon-button matTooltip="Mail" matTooltipPosition="right">
        <i class="fas fa-envelope"></i>
      </button>
    </a>

    <button mat-icon-button matTooltip="Twitter" matTooltipPosition="right">
      <i class="fab fa-twitter"></i>
    </button>

    <button mat-icon-button matTooltip="Instagram" matTooltipPosition="right">
      <i class="fab fa-instagram"></i>
    </button>

    <a href="https://www.linkedin.com/in/prasanth-k-a457311ba/" target="_blank" class="mb-4">
      <button mat-icon-button matTooltip="Linkedin" matTooltipPosition="right">
        <i class="fab fa-linkedin"></i>
      </button>
    </a>

  </div>
  <mat-card-content>
    <div style="text-align: center">
      <div class="hero-section text-center">
        <h1 class="hero-title">HEY, I'M PRASANTH KUPPUSAMY</h1>
        <p class="hero-subtitle">
          Experienced in Angular, TypeScript, Node.js, Express.js, and MSSQL,
          specializing in building scalable e-commerce and web applications.
          Passionate about clean code, performance optimization, and
          user-friendly interfaces.
        </p>
      </div>
      <button mat-raised-button type="button" class="button" style="background-color: #003566; color: white">
        PROJECTS
      </button>
    </div>
  </mat-card-content>
</mat-card>
</div>
