.bg-image {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  min-height: 94vh;
  width: 100%;
  background-attachment: fixed;
}

.title {
  padding-top: 3%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 7px;
  color: black;
}

.scribble {
  position: relative;
  background-image: none;
  background-color: transparent;
  color: #ff9400;

  &::after {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 0;
    height: 30%;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='247' height='22' fill='none'%3E%3Cmask id='a' width='246' height='23' x='0' y='1' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='%23D9D9D9' d='M0 1h246v23H0z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill='%2300a661' d='M.225 13.987c40.77-3.247 81.218-6.304 122.486-5.61 40.217.68 80.07 3.493 119.823 8.284 4.828.577 4.966-4.727.193-5.301-40.597-4.886-82.029-7.082-123.059-6.436-39.896.627-80.713 2.548-119.53 8.822-.233.04-.132.263.087.25v-.009z'/%3E%3C/g%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: 95%;
    width: 100%;
    background-image: linear-gradient(to right,
        currentcolor 40%,
        transparent 50%);
    background-repeat: no-repeat;
    animation: background-size-300 0.4s 1.5s ease-in both;
    background-size: 300%
  }
}

img {
  background: repeat;
  background-size: cover;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  display: flex;
}


/* From Uiverse.io by D3OXY */
.card {
  position: relative;
  width: 350px;
  aspect-ratio:4/4;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // perspective: 1000px;
  box-shadow: 0 0 0 15px #ffffff80;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin:5% 0% 0% 4%;
}



.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.Desctitle {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.card__description,p {
  margin: 10px 0 10px;
  font-size: 12px;
  color: #131111;
  line-height: 1.4;
}

.card__button {
  // padding: 15px;
  padding: 10px;
  border-radius: 8px;
  background: #777;
  border: none;
  color: white;
  font-size:medium;
  margin: 1%;
}

.secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}
