<div class="bg-image">
  <h6 class="title"><mark class="scribble">Projects</mark></h6>



  <!-- From Uiverse.io by D3OXY -->
  <div style="display: flex;gap: 10rem;">
    <div class="card">
      <img src="assets/ERP1.jpg" alt="">
      <div class="card__content" style="background-color:#3D348B;">
        <p class="card__title" style="  color: white;">ERP</p>
        <p class="card__description" style="  color: white;">{{this.ErpDesc}}</p>
        <p class="Desctitle" style="color: white;">Tech Stack</p>
        <div style="display: flex; justify-content: space-between; gap: 20px;color: white;" class="mb-2 mt-2">
          <p style="margin: 0; font-weight: bold;color: white;">Frontend:</p>
          <p style="margin: 0;color: white;">{{ FrontEnd }}</p>
        </div>
        <div style="display: flex; justify-content: space-between; gap: 20px;color: white;" class="mb-2">
          <p style="margin: 0; font-weight: bold;color: white;">Backend:</p>
          <p style="margin: 0;color: white;">{{Backend}}</p>
        </div>
        <div style="display: flex; justify-content: space-between; gap: 38px;color: white;" class="mb-2">
          <p style="margin: 0; font-weight: bold;color: white;">Tools:</p>
          <p style="margin: 0;color: white;">{{DevTools}}</p>
        </div>
        <!-- <button class="card__button">Live Demo</button>
      <button class="card__button secondary">Source Code</button> -->
      </div>
    </div>

    <div class="card">
      <img src="assets/Free.png" alt="">
      <div class="card__content" style="background-color: #386FA4;" >
        <p class="card__title" style="  color: white;">E-Commerce</p>
        <p class="card__description" style="  color: white;">{{this.EComm}}</p>
        <p class="Desctitle" style="color: white;">Tech Stack</p>
        <div style="display: flex; justify-content: space-between; gap: 20px;color: white;" class="mb-2 mt-2">
          <p style="margin: 0; font-weight: bold;color: white;">Frontend:</p>
          <p style="margin: 0;color: white;">{{ FrontEnd }}</p>
        </div>
        <div style="display: flex; justify-content: space-between; gap: 20px;color: white;" class="mb-2">
          <p style="margin: 0; font-weight: bold;color: white;">Backend:</p>
          <p style="margin: 0;color: white;">{{Backend}}</p>
        </div>
        <div style="display: flex; justify-content: space-between; gap: 38px;color: white;" class="mb-2">
          <p style="margin: 0; font-weight: bold;color: white;">Tools:</p>
          <p style="margin: 0;color: white;">{{DevTools}}</p>
        </div>
        <!-- <button class="card__button">Live Demo</button>
        <button class="card__button secondary">Source Code</button> -->
      </div>
    </div>
  </div>
</div>
